@model PagedList.PagedList<ProjetoIntegrador.Models.arquivo>
<div class="m-t-20 page-header">
    <!--
				<div class="pull-left">
					<h1>Dashboard</h1>
				</div>
				<div class="breadcrumbs">
					<ul>
						<li>
							<a href="more-login.html">Home</a>
							<i class="fa fa-angle-right"></i>
						</li>
						<li>
							<a href="index.html">Dashboard</a>
						</li>
					</ul>
					<div class="close-bread">
						<a href="#">
							<i class="fa fa-times"></i>
						</a>
					</div>
				</div>
				-->
</div>
<div class="row">
    <div class="col-sm-12">
        <div class="box box-color box-bordered">
            <div class="box-title">
                <h3>
                    <i class="fa fa-table"></i>
                    Arquivos Uploaded
                </h3>
                <div class="actions">
                    <a href="#" class="btn btn-mini fileinput-button">
                        <i class="fa fa-upload">
                            <input id="fileupload" type="file" name="files[]" multiple="">
                        </i>
                    </a>
                    <a href="#" class="btn btn-mini content-slideUp">
                        <i class="fa fa-angle-down"></i>
                    </a>
                </div>
            </div>
            <div class="box-content nopadding">
                <table class="table table-hover table-nomargin">
                    <thead>
                        <tr>
                            <th>Nome</th>
                            <th>Data</th>
                            <th>Ação</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>@item.NOMEARQUIVO</td>
                                <td>@item.DATAENVIOARQUIVO</td>
                                <td class="hidden-350">
                                    <a href="#"><i class="fa fa-trash"></i></a>   |   <a href="@item.PATHARQUIVO" target="_blank"><i class="fa fa-download"></i></a>
                                </td>
                            </tr>   
                        }
                    </tbody>
                </table>
                <div class="table-pagination">
                    @if (Model.HasPreviousPage)
                    {
                        <a href="@Url.Action("Index", "Arquivos", new { page = Model.PageNumber - 1, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter })"><<</a>
                    }
                    @if (Model.HasNextPage)
                    {
                        <a href="@Url.Action("Index", "Arquivos", new { page = Model.PageNumber + 1, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter })">>></a>
                    }
                </div>
            </div>
        </div>
    </div>
</div>
