@model PagedList.PagedList<ProjetoIntegrador.Models.arquivo>
<div class="m-t-20 page-header">
    <!--
				<div class="pull-left">
					<h1>Dashboard</h1>
				</div>
				<div class="breadcrumbs">
					<ul>
						<li>
							<a href="more-login.html">Home</a>
							<i class="fa fa-angle-right"></i>
						</li>
						<li>
							<a href="index.html">Dashboard</a>
						</li>
					</ul>
					<div class="close-bread">
						<a href="#">
							<i class="fa fa-times"></i>
						</a>
					</div>
				</div>
				-->
</div>
<div class="row">
    <div class="col-sm-12">
        <div class="box box-color box-bordered">
            <div class="box-title">
                <h3>
                    <i class="fa fa-table"></i>
                    Arquivos Uploaded
                </h3>
                <div class="actions">
                    <a href="#" class="btn btn-mini fileinput-button">
                        <i class="fa fa-upload">
                            <input id="fileupload" type="file" name="file">
                        </i>
                    </a>
                    <a href="#" class="btn btn-mini content-slideUp">
                        <i class="fa fa-angle-down"></i>
                    </a>
                </div>
            </div>
            <div class="box-content nopadding">
                <table class="table table-hover table-nomargin" id="tbfiles">
                    <thead>
                        <tr>
                            <th>Nome</th>
                            <th>Data</th>
                            <th>Ação</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>@item.NOMEARQUIVO</td>
                                <td>@item.DATAENVIOARQUIVO</td>
                                <td class="hidden-350">
                                    <a href="#" class="editmodal" data-toggle="modal" data-target="#myModal" data-id="@item.IDARQUIVO"><i class="fa fa-pencil-square-o"></i></a>|   <a href="@item.PATHARQUIVO" target="_blank"><i class="fa fa-download"></i></a>|   <a href="@Url.Action("DeleteFile", "Arquivos")/@item.IDARQUIVO"><i class="fa fa-trash"></i></a>
                                </td>
                            </tr>   
                        }
                    </tbody>
                </table>
                <div class="table-pagination">
                    @if (Model.HasPreviousPage)
                    {
                        <a href="@Url.Action("Index", "Arquivos", new { page = Model.PageNumber - 1, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter })"><<</a>
                    }
                    @if (Model.HasNextPage)
                    {
                        <a href="@Url.Action("Index", "Arquivos", new { page = Model.PageNumber + 1, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter })">>></a>
                    }
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Modal -->
<div id="myModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Insira a descrição do arquivo</h4>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <input type="hidden" name="regId" id="regId" value=""/>
                    <textarea class="form-control" id="DESCRICAO" name="DESCRICAO" style="margin: 0px 0.333333px 0px 0px; width: 567px; height: 295px;"></textarea>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                <button type="button" class="btn btn-success" data-dismiss="modal" onclick="EditReg()">Salvar</button>
            </div>
        </div>

    </div>
</div>
@Html.Partial("_Message")
<script>

    var fileupload = document.getElementById("fileupload")

    fileupload.onchange = function () {
        var formData = new FormData();
        var file = document.getElementById("fileupload").files[0];
        formData.append("file", file);
        $.ajax({
            type: "POST",
            url: '/Arquivos/PostFile',
            data: formData,
            dataType: 'json',
            contentType: false,
            processData: false,
            success: function (data) {
                //$("#img2")
                //    .attr("src", data.imbpath)
                //    .show();
                alertify.success("Arquivo Salvo!");
                $("#tbfiles").load("Index #tbfiles");
                //setTimeout(function () {
                //    location.reload();
                //}, 1000);
            },
            error: function (error) {
                console.log("error!!");
                $("#tbfiles").load("Index #tbfiles");
            }
        });
    };
    //function () {
    //    var formData = new FormData();
    //    var file = document.getElementById("fileupload").files[0];
    //    formData.append("file", file);
    //    $.ajax({
    //        type: "POST",
    //        url: '/Arquivos/Index',
    //        data: formData,
    //        dataType: 'json',
    //        contentType: false,
    //        processData: false,
    //        success: function (data) {
    //            //$("#img2")
    //            //    .attr("src", data.imbpath)
    //            //    .show();
    //            alertify.confirm("Arquivo Salvo!");
    //            setTimeout(function () {
    //                location.reload();
    //            }, 1000);
    //        },
    //        error: function (error) {
    //            console.log("error!!");
    //        }
    //    });
    //};
</script>
