@model ProjetoIntegrador.Models.usuario

<div class="m-t-20 page-header">
    <!--
			<div class="pull-left">
				<h1>Dashboard</h1>
			</div>
			<div class="breadcrumbs">
				<ul>
					<li>
						<a href="more-login.html">Home</a>
						<i class="fa fa-angle-right"></i>
					</li>
					<li>
						<a href="index.html">Dashboard</a>
					</li>
				</ul>
				<div class="close-bread">
					<a href="#">
						<i class="fa fa-times"></i>
					</a>
				</div>
			</div>
			-->
</div>
<div class="row">
    <div class="col-sm-12">
        <div class="box box-color box-bordered">
            <div class="box-title">
                <h3>
                    <i class="fa fa-user"></i>
                    Editar perfil
                </h3>
            </div>
            <div class="box-content nopadding">
                <ul class="tabs tabs-inline tabs-top">
                    <li class="active">
                        <a href="#profile" data-toggle="tab">
                            <i class="fa fa-user"></i>Perfil</a>
                    </li>
                    @*<li class="">
                        <a href="#notifications" data-toggle="tab">
                            <i class="fa fa-bullhorn"></i>Notifications</a>
                    </li>
                    <li class="">
                        <a href="#security" data-toggle="tab">
                            <i class="fa fa-lock"></i>Security</a>
                    </li>*@
                </ul>
                <div class="tab-content padding tab-content-inline tab-content-bottom">
                    <div class="tab-pane active" id="profile">
                        @using (Html.BeginForm("Perfil", "Usuario", FormMethod.Post, new { @class = "form-horizontal" }))
                        {
                            @Html.HiddenFor(model => model.IDUSUARIO)
                            <div class="row">
                                <div class="col-sm-2">
                                    <div class="fileinput fileinput-new" data-provides="fileinput" data-original-title="Change the avatar">
                                        <div class="fileinput-preview thumbnail" data-trigger="fileinput" style="width: 84px; height: 84px;">
                                            <img src="@Model.PATHIMAGEM" alt="" style="width: 74px; height: 74px;">
                                        </div>
                                        <div>
                                            <span class="btn btn-default btn-file">
                                                <span class="fileinput-new">Select image</span>
                                                <span class="fileinput-exists">Change</span>
                                                <input type="file" name="...">
                                            </span>
                                            <a href="#" class="btn btn-default fileinput-exists" data-dismiss="fileinput">Remove</a>
                                        </div>
                                        <label class="btn btn-primary btn-upload" for="inputImage" title="Upload image file">
                                            <input type="file" class="sr-only" id="inputImage" name="file" accept="image/*">
                                            <span class="docs-tooltip" data-toggle="tooltip" title="" data-original-title="Import image with Blob URLs">
                                                <span class="fa fa-upload"></span>
                                            </span>
                                        </label>
                                    </div>
                                </div>
                                <div class="col-sm-10">
                                    <div class="form-group">
                                        <label for="name" class="control-label col-sm-2 right">Nome:</label>
                                        <div class="col-sm-10">
                                            @Html.TextBoxFor(model => model.NOMEUSUARIO, new { @class = "form-control" })
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="email" class="control-label col-sm-2 right">Email:</label>
                                        <div class="col-sm-10">
                                            @Html.TextBoxFor(model => model.EMAILUSUARIO, new { @class = "form-control" })
                                            @*<div class="form-button">
                                                <a href="#" class="btn btn-grey-4 change-input">Change</a>
                                            </div>*@
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="name" class="control-label col-sm-2 right">Telefone:</label>
                                        <div class="col-sm-10">
                                            @Html.TextBoxFor(model => model.TELEFONEUSUARIO, new { @class = "form-control" })
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="name" class="control-label col-sm-2 right">Sexo:</label>
                                        <div class="col-sm-10">
                                            <div class="checkbox">
                                                <label>
                                                    @*<input type="checkbox" name="@Model.SEXOUSUARIO" value="@(Model.SEXOUSUARIO != "" ? Model.SEXOUSUARIO : "")"> Masculino*@
                                                    @Html.RadioButtonFor(model => model.SEXOUSUARIO, "M") Masculino
                                                </label>
                                            </div>
                                            <div class="checkbox">
                                                <label>
                                                    @*<input type="checkbox" name="@Model.SEXOUSUARIO" value="@(Model.SEXOUSUARIO != "" ? Model.SEXOUSUARIO : "")"> Feminino*@
                                                    @Html.RadioButtonFor(model => model.SEXOUSUARIO, "F") Feminino
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="pw" class="control-label col-sm-2 right">Senha:</label>
                                        <div class="col-sm-10">
                                            <input type="password" name="SENHAUSUARIO" value="@(Model.SENHAUSUARIO != "" ? Model.SENHAUSUARIO : "")" class="form-control" />
                                            @*@Html.PasswordFor(model => model.SENHAUSUARIO, new { @class="form-control" })*@
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="name" class="control-label col-sm-2 right">Perfil:</label>
                                        <div class="col-sm-10">
                                            @Html.TextAreaFor(model => model.PERFIL, new { @class = "form-control" })
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="name" class="control-label col-sm-2 right">Objetivo:</label>
                                        <div class="col-sm-10">
                                            @Html.TextAreaFor(model => model.OBJETIVO, new { @class = "form-control" })
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="name" class="control-label col-sm-2 right">Sobre mim:</label>
                                        <div class="col-sm-10">
                                            @Html.TextAreaFor(model => model.SOBREMIM, new { @class = "form-control" })
                                        </div>
                                    </div>

                                    <div class="form-actions">
                                        <input type="submit" class="btn btn-primary" value="Salvar">
                                        @*<input type="reset" class="btn" value="Resetar">*@
                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                    <!--
									<div class="tab-pane" id="notifications">
										<form action="#" class="form-horizontal">
											<div class="form-group">
												<label for="asdf" class="control-label col-sm-2">Email notifications</label>
												<div class="col-sm-10">
													<label class="checkbox">
														<input type="checkbox" name="asdf">Send me security emails</label>
													<label class="checkbox">
														<input type="checkbox" name="asdf">Send system emails</label>
													<label class="checkbox">
														<input type="checkbox" name="asdf">Lorem ipsum dolor</label>
													<label class="checkbox">
														<input type="checkbox" name="asdf">Minim veli</label>
												</div>
											</div>
											<div class="form-group">
												<label for="asdf" class="control-label col-sm-2">Email for notifications</label>
												<div class="col-sm-10">
													<select name="email" id="email">
														<option value="1">asdf@blasdas.com</option>
														<option value="2">johnDoe@asdasf.de</option>
														<option value="3">janeDoe@janejanejane.net</option>
													</select>
												</div>
											</div>
											<div class="form-actions">
												<input type="submit" class="btn btn-primary" value="Save">
												<input type="reset" class="btn" value="Discard changes">
											</div>
										</form>
									</div>
									<div class="tab-pane" id="security">
										<form action="#" class="form-horizontal">
											<div class="form-group">
												<label for="asdf" class="control-label col-sm-2">Disable account for</label>
												<div class="col-sm-10">
													<select name="email" id="email">
														<option value="1">1 week</option>
														<option value="2">2 weeks</option>
														<option value="3">3 weeks</option>
													</select>
												</div>
											</div>
											<div class="form-group">
												<label for="asdf" class="control-label col-sm-2">Lock account?</label>
												<div class="col-sm-10">
													<a href="more-locked.html" class="btn btn-danger">Lock account now</a>
												</div>
											</div>
											<div class="form-actions">
												<input type="submit" class="btn btn-primary" value="Save">
												<input type="reset" class="btn" value="Discard changes">
											</div>
										</form>
									</div>
									-->
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Trigger the modal with a button -->
<button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal">Open Modal</button>

<!-- Modal -->
<div id="myModal" class="modal fade" role="dialog">
    <div class="modal-dialog modal-lg">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Modal Header</h4>
            </div>
            <div class="modal-body">
                <p><a href="#" id="hl-crop-image">Crop Image</a></p>
                <p>
                    @*<img id="my-origin-image" src="~/ImagesUploaded/funny_cat_v1.jpg" />*@
                    <img id="my-origin-image" src="@Model.PATHIMAGEM" />
                </p>
                <p>
                    <img id="my-cropped-image" src="#" style="display: none;" />
                </p>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">

        var imageCropWidth = 0;
        var imageCropHeight = 0;
        var cropPointX = 0;
        var cropPointY = 0;

        $(document).ready(function () {
            initCrop();
        });

        $("#hl-crop-image").on("click", function (e) {
            e.preventDefault();
            cropImage();
        });

        function initCrop() {
            $('#my-origin-image').Jcrop({
                onChange: setCoordsAndImgSize,
                aspectRatio: 1
            });
        }

        function setCoordsAndImgSize(e) {

            imageCropWidth = e.w;
            imageCropHeight = e.h;

            cropPointX = e.x;
            cropPointY = e.y;
        }

        function cropImage() {

            if (imageCropWidth == 0 && imageCropHeight == 0) {
                alert("Please select crop area.");
                return;
            }

            $.ajax({
                url: '/Image/CropImage',
                type: 'POST',
                data: {
                    imagePath: $("#my-origin-image").attr("src"),
                    cropPointX: cropPointX,
                    cropPointY: cropPointY,
                    imageCropWidth: imageCropWidth,
                    imageCropHeight: imageCropHeight
                },
                success: function (data) {
                    $("#my-cropped-image")
                        .attr("src", data.photoPath + "?t=" + new Date().getTime())
                        .show();
                },
                error: function (data) { }
            });
        }

    </script>